#<h1>StaticPages#contact</h1>
#<p>Find me in app/views/static_pages/contact.html.erb</p>

#<h1>Contact</h1>
#<p>
#  The <a href="http://railstutorial/">Ruby on Rails Tutorial</a>is a project to mak$
#</p>

#<% provide(:title, 'Contact') %>
#<!DOCTYPE html>
#<html>
#  <head>
#    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
#  </head>
#  <body>
#    <h1>Contact</h1>
#     <p>
#     The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> is a projec$
#     </p>
#  </body>
#</html>

< % provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
Contact Ruby on Rails Tutorial about the sample app at the <a href="http://railstutorial.org/contact"> contact page</a>.
</p>
