<div class="center hero-unit">
  <h1>Sample App</h1>
  <h2>
    Click on the nose of the Ada <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> and entrance to the wonderful world of Pili.
  </h2>
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
